form(action='', method='post', id='answer-form')
  #{question.question}
  span(style='font-size: 11px;') (pg. #{question.page_number})
  br
  textarea(rows=10, cols=50, id='answer', name='answer')
  br
  input(type='submit', name='save', id='save', value='Save Answer')