* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Verdana, sans-serif;
    background: #D2D3D2;
}
h1 {
    color: #8F3C00;
    margin: 30px 0px;
}
#wrapper {
    margin: 0 auto;
    width: 922px;
}
#header {
    float: left;
    width: 900px;
    padding: 10px;
    height: 100px;
    margin: 10px 0px 5px 0px;
    background: #DFE6F0;
}
#content {
    float: left;
}
#col-left {
    float: left;
    margin: 0px 5px 5px 0px;
    padding: 10px;
    height: 350px;
    width: 678px;
}
#col-right {
    float: right;
    margin: 0px 0px 5px 0px;
    padding: 10px;
    height: 350px;
    width: 195px;
    display: inline;
}
#footer {
    width: 900px;
    clear: both;
    color: #333;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    text-align: center;
    font-size: 11px;
}
#footer > a {
    margin-left: 5px;
    margin-right: 5px;
}