:javascript
  | $(function() {
  |     $('input#save').click(function() {
  |         $.post(
  |             '/flashcards/next',
  |             {answer: $('#answer').val()},
  |             function(data) {
  |                 $('#actions').html(data);
  |             }
  |         );
  |         return false;
  |     });
  | });
h1 Flashcards
div#actions
  != flashcard_content