h1
  | Nervous about Step 1?<br/>
  | Crush the test with the system we used to score 250+
div#col-left
  p(style='font-size: 25px;')
    | Flash cards organized and personally targeted to make
    | sure that you learn and retain every First Aid fact most efficiently.
  ul Use 10,000 Questions to:
    li Stay focused
    li Increase your memory retention
    li Chart your progress
div#col-right
  p
    | Thousands of questions, covering every page of the First Aid Step 1 book.
  a(href='/signup') Try it free for 30 days
