form(id='rating-form')
  input(type='radio', name='rating', value='1')
  | Nailed it!
  br
  input(type='radio', name='rating', value='2')
  | I kinda knew the answer.
  br
  input(type='radio', name='rating', value='3')
  | I need to review this question again.
  br
  input(type='submit', name='save', id='save', value='Next Question')